*{
    margin:0;
    padding: 0;
}
a {
    cursor: pointer;
}

.button, .button:visited {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    text-decoration: none!important;
    padding: 1px 8px;
    font-weight: normal;
    line-height: 18px;
    border-radius: 3px;
    background: #8ab923;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adda4d',endColorstr='#86b846');
    background: -webkit-gradient(linear,0 0,0 100%,from(#adda4d),to(#86b846));
    background: -moz-linear-gradient(top,#adda4d,#86b846);
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
    border: 1px solid #6d8f29;
    color: #3e5e00!important;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.15);
}
.button:active {
    background: #79a814;
    background: -webkit-gradient(linear,0 0,0 100%,from(#9ac244),to(#78a53e));
    background: -moz-linear-gradient(top,#9ac244,#78a53e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ac244',endColorstr='#78a53e');
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3) inset;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3) inset;
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 1px rgba(0,0,0,.3) inset;
}

#current_title {
    padding: 2px 4px;
    font-weight: bold;
    width: 200px;
}


body {
    width: 300px;
    padding: 10px;
    background: #f0f0f0;
}
.title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 20px;
}
.list {
    list-style: none;
}
.list li{
    line-height: 20px;
}
.list li:hover{
    background: #e1f0f7;
}
.list .close {
    display:none;
    float: right;
    margin-right: 8px;
}
.list li:hover .close {
    display: inline-block;
}
.list .item{
    display: inline-block;
    width: 270px;
    font-size: 13px;
    text-overflow:ellipsis; 
    white-space:nowrap; 
    overflow:hidden;
    text-decoration: none;
}
.list .icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
}
.hr-3d {
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #fff;
    margin: 4px 0;
}
#added {
    color: #dd0000;
    font-size: 12px;
}
#tab-titles {
    border-bottom: 1px solid #ccc;
}
#tab-titles a{
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: bold;
}
#tab-titles a.current{
    border-bottom: 1px solid #f0f0f0;
}
.empty-msg {
    padding: 20px;
    color: #666;
    text-align: center;
}
.settings {
    color: #444;
    padding: 10px 0;
}
.settings hr{
    margin: 8px 0;
}
#sum {
    color: #666;
    font-size: 13px;
    padding: 4px;
}
#tab-bodys {
    min-height: 100px;
}
